<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ledercorp - Horário agendado!</title>

    <style>
        body {
            width: 600px;
        }
        .title {
            color: #fab702;
            font-weight: bold;
            padding: 10px 0;
        }
        .text {
            text-align: center;
            margin: 10px 0;
            max-width: 100%;
        }
        .info {
            text-align: center;
            margin: 15px 0;
            font-weight: bold;
            font-style: italic;
        }
        .link {
            color: #fab702;
            text-decoration: none;
            font-weight: bold;
        }
        .linktex {
            text-align: center;
            font-weight: bold;
            margin: 15px 0;
        }
    </style>

</head>
<body>
    <h1 class="title">Obrigado por ter escolhido a Ledercorp!</h1>
    <div class="main">

        <h2 class="text">Não se esqueça do horário que você marcou conosco.</h2>
        <p class="text">Caso houver alteração na data agendada ou hora, nosso time vai notificar você com um e-mail, para você não ficar perdido(a)!</p>


        <p class="info">Nossa reunião acontece na data: {{date}} as {{time}}{{timeType}}</p>
 
        <p class="linktex">Acesse o meet para entrar na reunião, <a href='{{link}}' class="link">Clique aqui!</a></p>

        <p>Acesse nosso site: <a href="https://ledercorp.com/" class="link">Clique qui!</a></p>
        <p>Instagram: <a href="https://www.instagram.com/ledercorp/" class="link">@ledercop</a></p>
        <p>Facebook: <a href="https://www.facebook.com/ledercorp/" class="link">Ledercorp Consultoria e Assessoria</a></p>
        <p>WhatsApp: <a href="https://api.whatsapp.com/send?phone=5564996031749&text=Atendimento%20Via%20Whatsapp%20Ledercorp" class="link">Atendimento Via Whatsapp Ledercorp</a></p>

    </div>
</body>
</html>